<!-- Primary template that will get shown when widget loads -->
<script type="text/ng-template" id="closestopenclassroomMain.html"> 
    <button class="center-button" clickable ng-click="findRoom()">{{buttonName}}</button>
    <div id='data'>{{parkingLots}}</div>
    <div>{{buildingsList}}</div>
	<widget-row ng-repeat="item in parkingLots" clickable ng-click="showDetails(item)">
		<widget-cell fill>
			<span class="itemName">Lot {{item.lot_name}}</span>
			<span class="label label-success">
				{{item.capacity - item.current_count}}
			</span>
		</widget-cell>
		<widget-cell>
			<widget-icon name="angle-right"></widget-icon>
		</widget-cell>
	</widget-row>
</script>

<!-- This template gets shown when user clicks one of the items in the list -->
<script type="text/ng-template" id="closestopenclassroomDetails.html"> 
	<!-- 'wr' and 'wc' are short for 'widget-row' and 'widget-cell' -->
	<wr>
		<wc><h2>{{detailsItem.title}}</h2></wc>
	</wr>
	<wr><wc><span ng-repeat= "tag in detailsItem.tags" class="label label-success">{{tag}}</span></wc></wr>
	<wr><wc><div class="pDetails">{{detailsItem.details}}</div></wc></wr>
</script>